# TODO: Tao OAuth 2.0 Client ID loai Web application trong Google Cloud Console,
# them http://localhost:5173 vao Authorized JavaScript origins,
# sau do dan Web Client ID vao dong ben duoi.
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
